<!-- <ul class="list-group" style="margin-bottom: 10px"> -->
  <!-- <li class="list-group-item"> -->
    <form action="/items/create" method="post" class="form-inline" style="margin-bottom: 8px">
      <div class="form-group">
        <!-- <label for="email"><b>Add Item:</b></label> -->
        <input style="margin:0 8px 0 0;" type="text" class="form-control" name="name" aria-describedby="bodyHelp" placeholder="enter item" />
      </div>
      <button type="submit" class="btn btn-primary">+ Add Item</button>
    </form>
    <!-- <small class="text-muted" id="bodyHelp">collaborators must already have a Blocipedia account.</small> -->
  <!-- </li> -->
<!-- </ul> -->
