
<div id="item-add" style="display: block ">
  <form id="new-item" action="/items/create" method="post" class="form-inline" style="margin-bottom: 8px">
    <div class="form-group" style="float: left; width: calc(100% - 48px); display: flex; margin: auto">
      <input id="new-item-name" style="width: 100%" type="text" class="form-control" name="name" aria-describedby="bodyHelp" placeholder="enter item" />
    </div>
    <button type="submit" class="btn btn-primary" style="margin:0 0 0 8px; display: inline-block"><i class="fa fa-plus"></i></button>
  </form>
</div>
