<form action="/items/create" method="post" class="form-inline" style="margin-bottom: 8px">
  <div class="form-group" style="float: left; margin:0 4px 0 0;">
    <input style="margin:0 4px 0 0;" type="text" class="form-control" name="name" aria-describedby="bodyHelp" placeholder="enter item" />
  </div>
  <button type="submit" class="btn btn-primary">+ Add Item</button>
</form>
